-if UserHelper.episodestoday(@tv_shows, Date.today).count != 0
  %h1 Airing Today
  .well
    -UserHelper.episodestoday(@tv_shows, Date.today).each do |tv_episode|
      =link_to tv_episode.tv_season.tv_show.name, tv_episode.tv_season.tv_show
      \--
      =link_to tv_episode.name, tv_episode
      %br
%table{:class => "table table-striped"}
  %tr
    %th Show Name
    %th Network
    %th Air Time
  - @tv_shows.each do |tv_show|
    %tr
      %td 
        =link_to tv_show.name, tv_show
      %td
        =tv_show.network
      %td
        -if !tv_show.air_time.nil?
          =tv_show.air_time.strftime("%I:%M %p")
