%table{:class => "table table-striped"}
  %tr
    %th Show Name
    %th Network
    %th Air Time
  - @tv_shows.each do |tv_show|
    %tr
      %td 
        =link_to tv_show.name, tv_show
      %td
        =tv_show.network
      %td
        =tv_show.air_time

  
