=render :partial => 'shared/nav_bar'
/Refactor This to a partial!!!
%table#favshows{:class => "table table-striped"}
  %thead
    %tr
      %th{:style => "background-color: #FFFFFF;"}Top Shows
      %th Position
      %th Show Name
      %th Network
      %th Air Time
      %th Last Airing
      %th Next Airing
  %tbody
    - @tv_shows.each do |top_show|
      %tr
        %td
          =image_tag(top_show.tv_show.icon(:large))
        %td
          =top_show.position + 1
        %td 
          =link_to top_show.tv_show.name, top_show.tv_show
        %td
          =top_show.tv_show.network
        %td
          =top_show.tv_show.air_time
        %td
          =TvShowsHelper.last_air_date(top_show.tv_show)
        %td
          =TvShowsHelper.next_air_date(top_show.tv_show)

-content_for :head do
  =javascript_include_tag "jquery.tablesorter.min.js"
  =stylesheet_link_tag "sorted_table.css"

:javascript
  $(document).ready(function()
      { 
          $("#favshows").tablesorter({sortList: [[1,0]]} ); //initial sort on show name
      } 
  ); 