%table#favshows{:class => "table table-striped"}
  %thead
    %tr
      %th{:style => "background-color: #FFFFFF;"}Favorite Shows
      %th Show Name
      %th Network
      %th Air Time
      %th Last Airing
      %th Next Airing
  %tbody
    - @tv_shows.each do |tv_show|
      %tr
        %td
          =link_to "Add Show", :controller => "users", :action => "add_show", :id => tv_show
        %td
          =image_tag(tv_show.icon(:large))
        %td 
          =link_to tv_show.name, tv_show
        %td
          =tv_show.network
        %td
          -if !tv_show.air_time.nil?
            =tv_show.air_time.strftime("%I:%M %p")
        %td
          =TvShowsHelper.last_air_date(tv_show)
        %td
          =TvShowsHelper.next_air_date(tv_show)

-content_for :head do
  =javascript_include_tag "jquery.tablesorter.min.js"
  =stylesheet_link_tag "sorted_table.css"

:javascript
  $(document).ready(function()
      { 
          $("#favshows").tablesorter({sortList: [[1,0]]} ); //initial sort on show name
      } 
  ); 
