=render :partial => 'shared/nav_bar'
.container-fluid
  .row-fluid
    .span12
      =render :partial => 'shared/week_calendar'
  .row-fluid
    .span12
      =render :partial => 'users/user_favorite_shows'
