.navbar
  .navbar-inner
    .container
      %ul.nav
        %li
          %a.brand T.V. Tracker
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Test
        %li
          %a{:href => "#"} Test2
        %ul.nav
          %li.dropdown
            %a{:href => "#", :class => "dropdown-toggle", :"data-toggle" => "dropdown"} Account
            %ul{:class => "dropdown-menu"}
              %li
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link2
