.clickable.five_rad.item
  .row-wrap
    .name.column{:style => 'font-size: 130%;overflow:visible'}
      =showName 
    .metaep.package{:style => 'font-size: 120%'}
      =episodeName
    .metatime.package
      =airtime.strftime("%I:%M %p")
  %br.clear
  .clear
