%div{:class => 'btn-group'}
  %a{:class => 'btn btn-primary', :href =>'#'}
    =tv_show
  %a{:class => 'btn btn-primary dropdown-toggle', :'data-toggle' =>'dropdown', :href => '#'}
    %span.caret
  %ul.dropdown-menu
    %li
      %a{:href =>'#'}
        %i.icon-pencil
          Goooooooooo
