%table{:class =>'table table-bordered table-striped'}
  %thead
    %tr
    -(-3..3).each do |day|
      %th{:style => "text-align: center;"}
        =UserHelper.day_of_week(day)
        <br/>
        =day == 0 ? "(Today)" : UserHelper.numeric_date(day)

  %tbody
    %tr
      - (-3..3).each do |offset| 
        %td{:style => "text-align: center;"}
          - UserHelper.episodestoday(@user_shows, Date.today + offset).each do |tv_episode|
            =render :partial => 'shared/tv_show_pill', :locals => {:tv_show => tv_episode.tv_season.tv_show.name}
            =link_to tv_episode.tv_season.tv_show.name, tv_episode.tv_season.tv_show
            \ --
            =link_to tv_episode.name, tv_episode
            %br

