%table{:class => "table table-striped"}
  - @tv_show.tv_seasons.each do |tv_season|
    %tr
      %td
        %h2="Season #{tv_season.number}"
    - tv_season.tv_episodes.each do |tv_episode|
      %tr
        %td 
          =link_to tv_episode.name, tv_episode
        %td
          Season  
          =tv_episode.season_number
          Episode
          =tv_episode.number
        %td
          =tv_episode.airdate
    
