.row
  %form{:class => "navbar-search"}
    %input{:type => "text", :class => "search-query", :placeholder => "Search for Show"}

.row
  %form{:class =>"well .form-horizontal"}
    %h3 Sort By
    %label.checkbox
      %input{:type => "checkbox"} Next Airing

