%table{:class => "table table-striped"}
  %tr
    %th
    %th Show Name
    %th Last Airing
    %th Next Airing
  - @user_shows.each do |tv_show|
    %tr
      %td
        =image_tag(tv_show.icon(:medium))
      %td 
        =tv_show.name
      %td
        =TvShowsHelper.last_air_date(tv_show)
        /=tv_show.tv_seasons[0].tv_episodes[0].airdate
      %td
        =TvShowsHelper.next_air_date(tv_show)