=render :partial => 'shared/nav_bar'
.container-fluid
  .row-fluid
    .span2
      =render :partial => 'user/user_left_nav'
    .span10
      =render :partial => 'shared/week_calendar'
    .span10
      =render :partial => 'user/user_favorite_shows'